
@{
    ViewData["Title"] = "NotFound";
}

<h1>@ViewBag.ErrorMessage</h1>
<h4>@ViewBag.Path</h4>
<h4>@ViewBag.QueryString</h4>
<a asp-controller="home" asp-action="index">Click here to Navigate to Index page.</a>
